<p>Welcome to my new website!</p>
<a class="btn btn-primary" href="https://smurnauth.herokuapp.com/oauth/authorize?client_id=fyOIrPkU9uLz2NV2wA3pcYJVLHg9bMlpt_6khFJkUls&redirect_uri=http%3A%2F%2Fgh.localtest.me%3A9292%2Foauth%2Fcallback&response_type=code&scope=openid%20profile">Login using SSO</a>
