<% if @access_token %>
  <p>You're logged in!</p>
  <p>Use this token for all subsequent calls: <%= @access_token %></p>
<% else %>
  <p>Something has gone wrong. Please try again.</p>
  <a href="/">Back to login</a>
<% end %>
